

<div class="content_log_in">

    <div class="mail">
        <input type="text" placeholder="E-mail">
    </div>
    <div class="password">
        <input type="password" placeholder="Lösenord">
    </div>

    <a href="index.html" class="accept"><button class="accept">Logga In</button></a>
    
    <h1 class="no_account">Inget konto?</h1>
    
    <a href="register.html" class="low_register"><button class="low_register">Registrera</button></a>
</div>
