<div class="content_overview">
    <h1 class="uppgifter">Uppgifter:</h1>
    <p class="full_name">Namn efternamn</p>
    <p class="mail_overview">E-mail</p>
    <p class="password_overview">*********</p>

    <a class="back" href="register.html">
        <button class="back">Tillbaka</button>
    </a>
    <a class="continue" href="thanks.html">
        <button class="continue">Bekräfta</button>
    </a>
</div>