<div class="thanks_content">
    <h1 class="thanks_title">Tack!</h1>
    <p class="thanks_text">Tack för din anmälan till oss, vi hoppas
        att du når dina mål hos oss. Du har 3 gratis
        träningspass. Glöm inte att köpa gymkort hos oss
        för fler.
    </p>
    <a class="ok" href="index.html">
        <button class="ok">Ok</button>
    </a>
</div>