
.picture_text{
    margin-top: 100px;
    color: rgb(255, 255 , 255);
    font-family: Arial, Helvetica, sans-serif;
}

.content_index{
    grid-column: 1/5;
    grid-row: 2/6;
    background-color: rgb(255, 255 , 255);
    background-image: url(../img/homepage_picture_edited.jpg);
}
